<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">HomePage</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">Car Health</a></li>
        <li><a href="#"><%= user.name %></a></li>
      </ul>
    </div>
  </nav>
<p> Welcome <%= user.name %></p>
<a href="/users/logout">Logout</a>