    <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">HomePage</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Home</a></li>
        <li><a href="#">Car Health</a></li>
        <li><a href="#"><%= user.name %></a></li>
        </ul>
        </div>
      </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">Home</a></li>
        <li><a href="#">Car Health</a></li>
        <li><a href="#"><%= user.name %></a></li>
      </ul>

<p> Welcome <%= user.name %></p>
<a href="/users/logout">Logout</a>