<h1> Login </h1>
<%- include ('./partials/messages') %>
<div class="divider"></div>
<form action="/users/login" method="POST">
<div "input-field col s12">
<label for="email">Email Address</label>
<input
type="email"
name="email"
placeholder="Enter Email Address"
/>
</div>
<div "input-field col s12">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Enter Password"
    />
  
</div>
<button type="submit" class="waves-effect waves-light btn-large">Login</button>
   
</form>
<div class="row"></div>
<a href="/users/register"
  >Sign Up</a>